<div [@routerTransition]>
    <app-page-header [heading]="'Meetings'" [icon]="'fa-th-list'"></app-page-header>
    <div class="card mb-6">
        <div class="card-header">Meetings</div>
        <table class="card-body table">
        <thead></thead>
        <tr>
            <th>ID</th><th>Room Name</th><th>Start Time</th><th>End Time</th><th>Description</th><th>Employee</th><th>Approval</th>
        </tr>
        <tbody>
            <tr *ngFor="let meeting of meetings">
                <td>{{meeting.requestId}}</td>
                <td>{{meeting.roomId.meetingRoomName}}</td>
                <td>{{meeting.startTime | date: 'M/d/yy h:mm a'}}</td>
                <td>{{meeting.endTime | date: 'M/d/yy h:mm a'}}</td>
                <td>{{meeting.meetingDesc}}</td>
                <td>{{meeting.empid.f_name}} {{meeting.empid.l_name}}</td>
                <td>
                    <label *ngIf="loginService.isAdmin() && (meeting.approve=='' || meeting.approve==null)">
                        <button class="btn btn-success fa fa-check-circle fa-x5" (click)="approveMeetings(meeting)"></button>
                        &nbsp;
                        <button class="btn btn-danger fa fa-window-close fa-x5" (click)="denyMeetings(meeting)"></button>
                    </label>
                    <label *ngIf="!loginService.isAdmin() && (meeting.approve=='' || meeting.approve==null)"
                        class="fa fa-warning fa-x5" style="color:gold">&nbsp; Pending</label>
                    <label *ngIf="meeting.approve=='yes'"
                    class="fa fa-check-circle fa-x5" style="color:green">&nbsp; Approved</label>
                    <label *ngIf="meeting.approve=='no'"
                    class="fa fa-window-close fa-x5" style="color:red">&nbsp; Denied</label>
                </td>
                <td *ngIf="loginService.isAdmin()">
                        <button class="btn btn-outline-secondary" (click)="getMeeting(meeting.requestId); open(content);">Edit
                                Meeting</button>
                            &nbsp;
                    <button class="btn btn-outline-dark" (click)="deleteMeetings(meeting)">
                    Delete Meeting</button></td>
            </tr>
        </tbody>
    </table>
    </div>
    <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Meeting update</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                   <div class="form-group">
                        <label for="startTime">Start Time</label>
                        <div class="input-group">
                            <input type="datetime" [(ngModel)]="startTime" class="form-control" 
                                 name="startTime">
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="endTime">End Time</label>
                            <div class="input-group">
                                <input type="datetime" [(ngModel)]="endTime" class="form-control"
                                    name="endTime">
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="meetingDesc">Meeting Description</label>
                        <div class="input-group">
                            <input [(ngModel)]="meetingDesc" class="form-control" name="meetingDesc">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
            </div>
        </ng-template>
</div>
