<div [@routerTransition]>
    <app-page-header [heading]="'Create Task'" [icon]="'fa-edit'"></app-page-header>
    <div class="col-xl-12 text-xs-center">                <form action="" [formGroup]="registerForm" action="" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
                        <div class="form-container">
                            <label for="startDate">Start Date</label>
                            <input type="date" [(ngModel)]="task.startDate" placeholder="Enter start date" class="form-control" name="startDate"
                                id="startDate" formControlName="startDate">
                        </div>
                        <br>
                        <div class="form-container">
                            <label for="endDate">End Date</label>
                            <input type="date" [(ngModel)]="task.endDate" placeholder="Enter end date" class="form-control" name="endDate"
                                id="endDate" formControlName="endDate">
                        </div>
                        <br>
                        <div class="form-container">
                            <label for="taskName">Name</label>
                            <mat-form-field>
                            <input [(ngModel)]="task.taskName" placeholder="Enter task description" name="taskName"
                                id="taskName" matInput formControlName="taskName">
                            </mat-form-field>
                        </div>
                        
                        <div class="form-container">
                            <label for="taskDesc">Description</label>
                            <mat-form-field>
                            <input [(ngModel)]="task.taskDesc" placeholder="Enter task name" name="taskDesc"
                                id="taskDesc" matInput formControlName="taskDesc">
                            </mat-form-field>
                        </div>
                
                        <div class="form-container">
                                <label for="assignedBy">Assigned By</label>
                            <select [(ngModel)]="task.assignedBy" name="assignedBy" id="assignedBy" class="form-control"
                            formControlName="assignedBy">
                            <option *ngFor="let emp of employees" [ngValue]="emp.empid">{{emp.f_name}} {{emp.l_name}}</option>
                
                          </select>
                        </div>
                
                        <div class="form-container">
                                <label for="assignedTo">Assigned To</label>
                            <select [(ngModel)]="task.assignedTo" name="assignedTo" id="assignedTo" class="form-control"
                            formControlName="assignedTo">
                            <option *ngFor="let emp of employees" [ngValue]="{'emailid':emp.emailid,'empid':emp.empid}">{{emp.f_name}} {{emp.l_name}}</option>
                            
                          </select>
                        </div>
                        <br>
                        <button class="mat-raised-button mat-primary" (click)="createTask()" [disabled]="!registerForm.valid"
                        mat-button type="submit">Create Task</button>
                        
                    </form>
            
        </div>
    </div>
