<div [@routerTransition]>
    <app-page-header [heading]="'Trainings List'" [icon]="'fa-table'"></app-page-header>
            <div class="card mb-6">
                <div class="card-header">
                    Trainings
                </div>
                <div class="card-body table">
                    <table class="table">
                    <thead></thead>
                    <tr>
                        <th>ID</th><th>Room Name</th><th>Start Time</th><th>End Time</th><th>Description</th><th>Employee</th><th>Approval</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let training of trainings">
                            <td>{{training.requestId}}</td>
                            <td>{{training.roomId.roomName}}</td>
                            <td>{{training.startDate}}</td>
                            <td>{{training.endDate}}</td>
                            <td>{{training.trainingDesc}}</td>
                            <td>{{training.empid.f_name}} {{training.empid.l_name}}</td>
                            <td>
                                <label *ngIf="loginService.isAdmin() && (training.approve=='' || training.approve==null)">
                                    <button class="btn btn-success fa fa-check-circle fa-x5" (click)="approveTrainings(training)"></button>
                                    &nbsp;
                                    <button class="btn btn-danger fa fa-window-close fa-x5" (click)="denyTrainings(training)"></button>
                                </label>
                                <label *ngIf="!loginService.isAdmin() && (training.approve=='' || training.approve==null)"
                                    class="fa fa-warning fa-x5" style="color:gold">&nbsp; Pending</label>
                                <label *ngIf="training.approve=='yes'"
                                class="fa fa-check-circle fa-x5" style="color:green">&nbsp; Approved</label>
                                <label *ngIf="training.approve=='no'"
                                class="fa fa-window-close fa-x5" style="color:red">&nbsp; Denied</label>
                            </td>
                            <td *ngIf="loginService.isAdmin()">
                                    <button class="btn btn-outline-secondary" (click)="getTraining(training.requestId); open(content);">Edit
                                            Training</button>
                                        &nbsp;
                                <button class="btn btn-outline-dark" (click)="deleteTrainings(training)">
                                Delete Training</button></td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
             </div>
             <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Training update</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                   <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <div class="input-group">
                            <input type="date" [(ngModel)]="startDate" class="form-control" 
                                 name="startDate">
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="endDate">End Date</label>
                            <div class="input-group">
                                <input type="date" [(ngModel)]="endDate" class="form-control"
                                    name="endDate">
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="trainingDesc">Training Description</label>
                        <div class="input-group">
                            <input [(ngModel)]="trainingDesc" class="form-control" name="trainingDesc">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
            </div>
        </ng-template>
</div>
