<div [@routerTransition]>
    <app-page-header [heading]="'Create Department'" [icon]="'fa-edit'"></app-page-header>

    <div class="co-md-6">
        <form action="" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
            <div class="form-container">
                <label for="deptname">Deparment Name</label>
                <mat-form-field>
                    <input [(ngModel)]="dept.deptname" placeholder="Enter department name" name="deptname" id="deptname"
                        matInput formControlName="deptname">
                </mat-form-field>
            </div>

            <button class="mat-raised-button mat-primary" (click)="createDept()" mat-button type="submit"
                [disabled]="!registerForm.valid">Create Department</button>
        </form>
    </div>
    <br><br>
    <div class="card mb-6">
        <div class="card-header">Department List</div>
        <table class="card-body table">
            <thead></thead>
            <tr>
                <th>ID</th>
                <th>Department</th>
            </tr>
            <tbody>
                <tr *ngFor="let dept of department">
                    <td scope="row">{{dept.dept_id}}</td>
                    <td>{{dept.deptname}}</td>
                    <td>
                        <button class="btn btn-outline-secondary"
                        (click)="getDep(dept.deptname); open(content);">Edit Department</button>
                        &nbsp;
                    <button class="btn btn-outline-dark" (click)="deleteDept(dept)">Delete Department</button>
                    
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Deparment update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="">
                <div class="form-group">
                    <label for="deptname">Department Name</label>
                    <div class="input-group">
                        <input [(ngModel)]="deptname" class="form-control" name="deptname">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </ng-template>
</div>